<!-- <div class="container">
  <div class="left">
<app-doctor-card></app-doctor-card>
  </div>
  <div class="right">
    <app-doctor-filter></app-doctor-filter>
  </div>
</div> -->

<!-- parent.component.html -->
<!-- <app-doctor-filter (filteredDoctorsEvent)="updateFilteredDoctors($event)"></app-doctor-filter>
<app-doctor-card [filteredDoctors]="filteredDoctors"></app-doctor-card> -->


<!-- <div class="container">
  <div class="left">
    <app-doctor-card [filteredDoctors]="filteredDoctors"></app-doctor-card>
  </div>
  <div class="right">
    <app-doctor-filter [allDoctors]="allDoctors" (filteredDoctorsEvent)="updateFilteredDoctors($event)"></app-doctor-filter>
  </div>
</div> -->

<div class="container">
  <div class="left">
<app-doctor-card [filteredDoctors]="filteredDoctors"></app-doctor-card>

  </div>

  <div class="right">
<app-doctor-filter (filteredDoctorsEvent)="updateFilteredDoctors($event)"></app-doctor-filter>

  </div>
</div>

