<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div class="row">
    <div *ngFor="let story of stories" class="card"> 
      <img *ngIf="story.storyImageUrl" [src]="picURl + '/' + story.storyImageUrl" class="card-img-top" alt="Story Image">
      <div class="card-body">
        <h5 class="card-title">{{ story.storyDescription }}</h5>
        <p class="card-text">Degree: {{ story.storyDegree }}</p>
        <button class="btn btn-primary" (click)="takeTest(story.storyId)">Take Test</button>
      </div>
    </div>
  </div>
</div>
