.DocProfilePic {
  width: 136px;
  border-radius: 25px;
  border: 0.6px solid #676767c4;
  overflow: hidden;
  margin-right: 15px; /* Add margin between image and text */
}

@media (max-width: 540px) {
  .DocProfilePic {
    flex-direction: column;
    margin-right: 0; /* Remove margin on small screens */
  }
}

.container {
  margin-top: 20px;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.docInfo .text-left {
  font-size: 1.25rem;
  margin-bottom: 10px; /* Add margin between elements */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.docMoreInfo .btn-primary {
  margin-top: 10px;
  align-self: center; /* Center the button */
}

.docHead {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px; /* Add margin between sections */
}

.cardTitle {
  font-weight: bold;
  font-size: 1.5rem;
}

.text-secondary {
  color: #6c757d !important;
  margin-bottom: 10px; /* Add margin between elements */
}
