<!-- <div class="container">
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  
    <div class="row">
      <div *ngFor="let test of tests" class="card">
        <div class="card-body">
          <h5 class="card-title">{{ test.title }}</h5>
          <p class="card-text">Degree: {{ test.testDegree }}</p>
          <button class="btn btn-primary" (click)="takeTest(test.testId)">Take Test</button>
        </div>
      </div>
    </div>
</div> -->
<div class="container mt-4">
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div class="row row-cols-1 row-cols-sm-2">
    <ng-container *ngIf="tests.length > 0; else noTests">
      <div class="col mb-4 d-flex justify-content-center" *ngFor="let test of tests">
        <div class="card" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title fw-bold">{{ test.title }}</h5>
            <p class="card-text text-secondary">Degree: {{ test.testDegree }}</p>
            <button class="btn btn-primary" (click)="takeTest(test.testId)">Take Test</button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noTests>
      <div class="col text-center">
        <p>No tests available.</p>
      </div>
    </ng-template>
  </div>
</div>
