<div *ngIf="profileData" class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-3 sideBar d-none d-lg-flex">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-12 col-lg-9 mt-4 mainContent">
      <div class="title">
        <i class="fa-solid fa-arrow-left"></i>
        <h4 class="doctitle">Doctor's Profile</h4>
      </div>
      <div class="profile">
        <div class="DocProfileDetails">
          <div>
            <img [src]="profileData.PicURL" alt="DoctorImage" class="DocProfilePic">
          </div>
          <div class="btns">
            <button class="btn d-flex text-align-baseline">
              <i class="fa-regular fa-comment"></i>
              <span class="d-none d-lg-block d-md-block">Send message</span>
            </button>
            <button class="btn d-none d-lg-block">Make appointment</button>
            <button class="btn d-flex text-align-baseline d-lg-none d-block">
              <i class="fa-regular fa-calendar-check"></i>
            </button>
            <button class="d-none d-lg-block btn secBtn">
              <i class="fa-regular fa-bookmark"></i>
            </button>
          </div>
        </div>
        <div class="doctorTitle">
          <h3 class="doctitle">Dr. {{ profileData.FirstName }} {{ profileData.LastName }}</h3>
          <h6 class="text-muted subTitle">{{ profileData.UserName }}</h6>
          <p class="text-muted location">
            <i class="fa-solid fa-location-dot"></i> {{ profileData.Address }}
          </p>
          <div class="rating d-flex">
            <app-star-rating [rating]="profileData.Rate"></app-star-rating>
            <strong><h3 class="doctitle">{{ profileData.Rate }}</h3></strong>
          </div>
          <div class="mobile d-flex flex-lg-row">
            <span class="thirdBtn">Phone: {{ profileData.Phone }}</span>
            <span class="thirdBtn">Gender: {{ profileData.GenderString }}</span>
            <span class="thirdBtn">Age: {{ profileData.Age }}</span>
          </div>
        </div>
        <div class="description">
          <div class="doctorDesc mt-5">
            <h5>About</h5>
            {{ profileData.WorksIn }}
          </div>
          <div class="doctorDesc">
            <h5>Experience</h5>
            {{ profileData.History }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
