


<!-- <app-nav-bar></app-nav-bar> -->


 <!-- <app-card></app-card> -->
  <!-- <app-doctorprofile></app-doctorprofile> -->

 <!-- <app-doctor-dashboard></app-doctor-dashboard> -->
 <!-- <app-doctor-dashboard></app-doctor-dashboard> -->

 <!-- <app-footer></app-footer> -->


 <!-- <div class="container">
  <div class="row">
<app-card></app-card></div></div>  -->
 <!-- <div class="container">
 <div class="row"> -->
 <!-- <app-card></app-card></div></div>  -->

  <!-- <router-outlet></router-outlet> -->

<!-- <div class="container"> -->
  <!-- <div class="row"> -->
<!-- <app-card></app-card></div></div> -->

<!-- <app-doctor-filter></app-doctor-filter> -->

<!-- <app-footer></app-footer> -->

<!-- <app-slider></app-slider> -->
<!-- <app-brows-doctor-card></app-brows-doctor-card> -->
<!-- Habeba -->


<app-nav-bar></app-nav-bar>
 <div class="container">
  <router-outlet></router-outlet>
 </div>
<app-footer></app-footer>

<!-- <app-admin-dashboard></app-admin-dashboard> -->

<!-- <app-edit-doctor-profile></app-edit-doctor-profile> -->

<!-- <app-landing></app-landing> -->
<!-- <app-doctor-sign-up></app-doctor-sign-up> -->
<!-- <app-nav-bar></app-nav-bar> -->

  <!-- <div class="row">
<app-card></app-card></div> -->
<!-- <app-doctorprofile></app-doctorprofile> -->



<!-- <app-footer></app-footer> -->
  <!-- <div> -->

<!-- <app-card></app-card></div>  -->
 <!-- <app-doctorprofile></app-doctorprofile> -->
  <!-- <router-outlet></router-outlet> -->
  <!-- </div> -->
 <!-- <app-doctor-dashboard></app-doctor-dashboard> -->


<!-- <app-footer></app-footer> -->
<!-- <app-doctor-sign-up></app-doctor-sign-up> -->
<!-- <app-login></app-login> -->
<!-- <app-rest-password></app-rest-password> -->
<!-- <app-login></app-login>
<app-rest-password></app-rest-password> -->

<!-- <app-all-stories></app-all-stories>
<app-story-test></app-story-test>
<app-questions></app-questions>
<app-results-test></app-results-test> -->


<!-- <app-story-test></app-story-test>
<app-questions></app-questions> -->
<!-- <app-results-test></app-results-test>
<app-story-test></app-story-test> -->

<!-- <app-all-stories></app-all-stories>
<app-story-test></app-story-test>
<app-questions></app-questions>
<app-results-test></app-results-test>

 -->
