


<!-- <app-nav-bar></app-nav-bar> -->


 <!-- <app-card></app-card> -->
  <!-- <app-doctorprofile></app-doctorprofile> -->

 <!-- <app-doctor-dashboard></app-doctor-dashboard> -->
 <!-- <app-doctor-dashboard></app-doctor-dashboard> -->

 <!-- <app-footer></app-footer> -->


 <!-- <div class="container">
  <div class="row">
<app-card></app-card></div></div>  -->
 <!-- <div class="container">
 <div class="row"> -->
 <!-- <app-card></app-card></div></div>  -->

  <!-- <router-outlet></router-outlet> -->

<!-- <div class="container"> -->
  <!-- <div class="row"> -->
<!-- <app-card></app-card></div></div> -->

<!-- <app-doctor-filter></app-doctor-filter> -->

<!-- <app-footer></app-footer> -->

<!-- <app-slider></app-slider> -->

<!-- Habeba -->
<!-- <app-nav-bar></app-nav-bar>
 <div class="container">
  <router-outlet></router-outlet>
  <app-appointment-times></app-appointment-times>
 </div>
<app-footer></app-footer>
 -->


<!-- <app-edit-doctor-profile></app-edit-doctor-profile> -->





<!-- <app-results-test></app-results-test> -->
<!-- <app-story-test></app-story-test>
-->
<!-- <app-brows-doctor-card></app-brows-doctor-card>
  -->
<!-- <app-doctor-filter></app-doctor-filter> -->
<app-appointment-times></app-appointment-times>