

<app-nav-bar></app-nav-bar>


 <!-- <app-card></app-card> -->
  <!-- <app-doctorprofile></app-doctorprofile> -->
 <!-- <app-doctor-dashboard></app-doctor-dashboard> -->

 <!-- <app-footer></app-footer>  -->


<!-- <div class="container"> -->
  <!-- <div class="row"> -->
<!-- <app-card></app-card></div></div> -->
 <app-nav-bar></app-nav-bar>
 <div class="container">
  <router-outlet></router-outlet>
 </div>
<app-footer></app-footer>
  <div>
<!-- <app-card></app-card></div>  -->
 <!-- <app-doctorprofile></app-doctorprofile> -->
  <!-- <router-outlet></router-outlet> -->
  <!-- </div> -->
 <!-- <app-doctor-dashboard></app-doctor-dashboard> -->

<!-- <app-footer></app-footer> -->
<!-- <app-doctor-sign-up></app-doctor-sign-up> -->
<!-- <app-login></app-login> -->
<!-- <app-rest-password></app-rest-password> -->
<!-- <app-login></app-login>
<app-rest-password></app-rest-password> -->
<!-- <app-story-test></app-story-test>
<app-questions></app-questions> -->
<!-- <app-results-test></app-results-test> -->
<!-- <app-story-test></app-story-test> -->

