<section class="signIn">
    <div class="signInForm w-75 m-auto bg-white  p-5">
        <h1 class="fw-bolder">Login Here

        </h1>
        <p class="lead">Welcome back, login to your account!
        </p>
        <form action="" class="mx-4 mt-2">


            <div class="">
                <label for="email">Email Address</label>
                <input id="email" type="email" class="form-control my-3">
            </div>
            <div class="">
                <label for="password">Password</label>
                <input id="password" type="password" class="form-control my-3">
            </div>

            <div class="d-flex justify-content-between">
                <div class="col-lg-6 col-md-6 remember-me-wrap">
                    <div class="form-check"><input name="gridCheck" value="I agree to the terms and privacy policy."
                            type="checkbox" id="gridCheck" required="" class="form-check-input"><label for="gridCheck"
                            class="form-check-label"> Remember me </label></div>
                </div>
                <p class="signUp">Lost your password?</p>
            </div>
            <p>Don’t have an account? <span class="signUp">Create Account</span></p>
            <button class="btn btnsignIn" type="submit">Login Now</button>
        </form>
    </div>
</section>