<!-- NEW Side-Bar -->
<div class="">
  <div class=" d-flex body">
    <div class="col-sm-2 col-md-2  col-lg-2 sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class=" col-sm-10 col-md-10 rightContent mt-5">
      <div class="title">
        <p>Dashboard</p>
      </div>
      <div class="  flex-wrap w-100   data-info">
        <div class="col-2 col-md-2 col-lg-3 box">
          <i class="fa-regular fa-calendar icon"></i>
          <div class="text">
            <span>24.4K</span>
            <p>Appointments</p>
          </div>
        </div>
        <div class="col-2 col-md-2 col-lg-3 box">
          <i class="fa-regular fa-user icon"></i>
          <div class="text flex-wrap">
            <span>30.3K</span>
            <p>Total Patient</p>
          </div>
        </div>
        <div class="col-2 col-md-2 col-lg-3 box">
          <i class="fa-solid fa-id-card-clip"></i>
          <div class="text">
            <span>2K</span>
            <p>Consulting</p>
          </div>
        </div>
      </div>
      <div class="row restContet mt-4">
        <div class="col-12 col-md-4 col-lg-4 appontRequest">
          <div class="title d-flex justify-content-between">
            <p>Appointments Requests</p>
            <a class="d-flex align-items-center appontRequest-text">
              <p>view All</p>
              <i class="fa-solid fa-chevron-right"></i>
            </a>
          </div>
          <div class="d-flex justify-content-between">
            <div class="Patient gap-3">
              <div class="pateintImage"><img src="assets/3.png" alt=""></div>
              <div class="pateintDetails">
                <p>Ahmed Mourad</p>
                <span>45 Male 12 April 9:30 AM</span>
              </div>
            </div>
            <button class="btn">Confirmed</button>
          </div>
          <div class="d-flex justify-content-between">
            <div class="Patient gap-3">
              <div class="pateintImage"><img src="assets/3.png" alt=""></div>
              <div class="pateintDetails">
                <p>Ahmed Mourad</p>
                <span>45Male 12 April 9:30 AM</span>
              </div>
            </div>
            <button class="btn">Declined</button>
          </div>
          <div class="d-flex justify-content-between">
            <div class="Patient gap-3">
              <div class="pateintImage"><img src="assets/3.png" alt=""></div>
              <div class="pateintDetails">
                <p>Ahmed Mourad</p>
                <span>45Male 12 April 9:30 AM</span>
              </div>
            </div>
            <button class="btn">Confirmed</button>
          </div>
          <div class="d-flex justify-content-between">
            <div class="Patient gap-3">
              <div class="pateintImage"><img src="assets/3.png" alt=""></div>
              <div class="pateintDetails">
                <p>Ahmed Mourad</p>
                <span>45Male 12 April 9:30 AM</span>
              </div>
            </div>
            <button class="btn">Declined</button>
          </div>
          <div class="d-flex justify-content-between">
            <div class="Patient gap-3">
              <div class="pateintImage"><img src="assets/3.png" alt=""></div>
              <div class="pateintDetails">
                <p>Ahmed Mourad</p>
                <span>45Male 12 April 9:30 AM</span>
              </div>
            </div>
            <button class="btn">Declined</button>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4 donughtChart">
          <div class="title d-flex justify-content-between">
            <p>Patient Tracking</p>
          </div>
          <!-- <app-donight-chart></app-donight-chart> -->
        </div>
      </div>
    </div>
  </div>
</div>
