.doctorFilter {
    background-color:#fbf9fe;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid var(--main-Color);
}
.fillSvg{
    fill:#909090;
}
.fillSvg:hover{
    fill:var(--main-Color);
    transition: .4s;
}
