.day-column {  
  border: 1px solid #ccc;
  border-radius: 10px;
}

.day-header {
  background-color: var(--main-Color);
  color: white;
  padding: 5px;
  text-align: center;
}

.time-slot {
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.time-slot:hover {
  background-color: rgb(243, 222, 245);
}

button {
  display: block;
  width: 100%;
  background-color: var(--bg-Color);
  color: rgb(19, 1, 21);
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: var(--main-Color);
  color: white;
}








.Download:hover {
  display: block;
  width: 100%;
  background-color: var(--bg-Color);
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.Download {
  background-color: var(--main-Color);
  color: white;
}
.report-head{
  border-bottom: 2px solid var(--bg-Color);
}
.report{
  border-top: 10px solid var(--main-Color);
}
.report-body{
  background: no-repeat center url("../../../assets/Svgs/logoblack&white.svg");
}
.overlay::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.24);
}

.report-body p{
  z-index: 5;
  position: relative;
}