

<div class="search-form d-flex align-items-center  mx-auto mt-5">
    <button type="submit" class="search-button m-2">
        <i class="fa-solid fa-magnifying-glass me-3 text-purpel"></i>
    </button>
    <input type="text" value="" placeholder="Search..." class="search-input">
</div>



<!-- /// -->


<div class="doctorCard rounded-2 main-border  m-5">
<div class="px-5">
<div class="docHead my-4 d-flex align-items-start flex-wrap">
<div class="docImg rounded-3 me-3">
    <img src="../../../assets/jpeg/info1.jpg" alt="doctor Image" width="100%" >
</div>
<div class="docInfo">
    <h3 class="docName fw-bold"> Dr.Madonna Adel</h3>
    <div class="jobTitle d-flex lead fw-medium text-secondary align-items-center my-3">
        <i class="fa-solid fa-user-doctor me-3 align-items-center "></i>
            <p class="m-0">job title</p>
    </div>
        <button class="btn main-border text-purpel">Request </button>

</div>
</div>
<div class="docMoreInfo d-flex text-secondary justify-content-start flex-wrap">

    <p class="price bg-secondary-subtle p-2 rounded-2 "><i class="fa-solid fa-hand-holding-dollar "></i> 100/month</p>
    <p class="price bg-secondary-subtle p-2 rounded-2 mx-3"><i class="fa-solid fa-star fs"></i>4</p>
    <p class="price bg-secondary-subtle p-2 rounded-2 me-3 "><i class="fa-solid fa-location-dot"></i> egypt , Alx</p>
    <p class="price bg-secondary-subtle p-2 rounded-2 "><i class="fa-solid fa-clock"></i> 7Am - 10Pm</p>
</div>
<div class="discrptionDoc d my-3">
    <p class="text-secondary fw-semibold ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus expedita aliquam facilis, qui ipsa, necessitatibus, harum suscipit quisquam repellat ab sit velit deserunt perspiciatis consequuntur ducimus distinctio cupiditate amet eaque?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus itaque officiis nihil atque odio? Quibusdam, ullam libero, nisi inventore adipisci molestias quis excepturi, molestiae ducimus aut deleniti est earum possimus.</p>
</div>

</div>
</div>
