<div class="container mt-4">
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
    <button class="btn btn-purple btn-md ms-5 my-4"  (click)="navigateToAdd()">
      Add Test <i class="fa-solid fa-square-plus"></i>
    </button>
    <div class="row row-cols-1 row-cols-sm-2">
      <ng-container *ngIf="tests.length > 0; else noTests">
        <div class="col mb-4 d-flex justify-content-center" *ngFor="let test of tests">
          <div class="card" style="width: 35rem;">
            <div class="card-body">
              <h5 class="card-title fw-bold">{{ test.title }}</h5>
              <p class="card-text text-secondary">Degree: {{ test.testDegree }}</p>
              <div class="d-flex justify-content-end align-items-center mb-2">
                <button class="btn btn-primary me-2" (click)="navigateToEdit(test.testId)">
                  Edit <i class="fas fa-edit"></i> <!-- Edit icon -->
                </button>
                <button class="card-text fs-4 btn p-0 mb-3 mt-3" (click)="deleteTest(test.testId)">
                  Delete <i class="fa-solid fa-trash-can text-danger"></i>
                </button>
              </div>
              <!-- <i class="fa-solid fa-square-plus"></i> -->
              <!-- <button class="btn btn-primary" (click)="takeTest(test.testId)">Take Test</button> -->
            </div>
          </div>
        </div>
      </ng-container>
    
      
      <ng-template #noTests>
        <div class="col text-center">
          <p>No tests available.</p>
        </div>
      </ng-template>
    </div>
  </div>
